@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #000000;
  }
}
.btn:hover .btn-icon {
  filter: brightness(0) saturate(100%) invert(0%) sepia(96%) saturate(7484%)
    hue-rotate(98deg) brightness(102%) contrast(100%);
  transition: 0.2s;
}
.btn-icon {
  transition: 0.2s;
}
